.ni {
  &--container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 14px;
      height: 14px;
    }

    &--voiceUser {
      position: absolute;
      top: 50%;
      left: -8px;
      transform: translate(-50%, -50%);

      svg {
        width: 12px;
        height: 12px;
      }
    }

    &--tag {
      margin-left: 4px;
    }
  }

  &--voiceUser {
    position: relative;
  }
}