.aka--modal-root {
  display: flex;
  flex-direction: column;

  .aka--modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    .title {
      font-size: 28px;
      font-weight: 600;
      color: #efefef;
    }

    .aka--modal-close {
      width: 24px;
      height: 24px;
      cursor: pointer;
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .aka--modal-content {
    padding: 16px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .disabled {
      opacity: 0.25;
      pointer-events: none;
    }

    & > .top {
      display: flex;
      flex-direction: column;

      & > .types {
        display: flex;
        gap: 4px;
        margin-bottom: 8px;
        transition: 250ms ease-in-out opacity;

        .type {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px;
          color: white;
          background-color: rgba(0, 0, 0, 0.25);
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          border-bottom: 2px solid transparent;
          opacity: 0.75;
          cursor: pointer;

          &:hover {
            opacity: 0.85;
            border-bottom: 2px solid white;
          }

          &.selected {
            opacity: 1;
            border-bottom: 2px solid white;
          }
        }
      }

      & > .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        
        .item {
          width: 120px;
          max-width: 120px;
          padding: 8px;
          background-color: rgba(0, 0, 0, 0.25);
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          cursor: pointer;

          .text {
            display: flex;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: calc(120px - 8px);
            text-align: center;
          }
        }
      }
    }

    & > .controls-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 8px;

      .controls {
        display: flex;
        gap: 8px;
        padding: 8px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        align-items: center;
        transition: 250ms ease-in-out opacity;

        .arrow {
          font-weight: 800;
          font-size: 20px;
          cursor: pointer;
          color: rgba(245, 245, 245, 0.85);
          transition: 250ms ease-in-out opacity;
        }
      }
    }
  }
}