.pi {
    &--icon-container {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        margin-left: 4px;

        svg {
            color: whitesmoke;
            width: 14px;
            height: 14px;
        }
    }
}