.ti {
    &--wrapper {
        position: relative;
    }

    &--container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
        z-index: 98;
        display: none;
        
        &.visible {
            display: flex !important;
        }

        img {
            opacity: 0.95;
            background-color: rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 2px black;
            padding: 2px;
            border-radius: 99px;
            width: 22px;
        }
    }
}