.uagll {
  &--modal-root {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  &--modal-header {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--modal-title {
    font-size: 28px;
    color: #efefef;
    font-weight: 600;
  }

  &--modal-close {
    width: 24px;
    height: 24px;
    cursor: pointer;
    
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &--modal-body {
    display: flex;
    flex-direction: column;
    height: 550px;
    overflow: auto;
    contain: content;

    section {
      margin-top: 16px;
      margin-bottom: 8px;
    }

    .section-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    .section-content {
      .item {
        display: flex;
        gap: 8px;
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin-bottom: 8px;

        & > .left {
          height: 48px;
          width: 48px;
          border-radius: 4px;
          background-position: center;
          background-size: cover;
        }

        & > .right {
          display: flex;
          flex-direction: column;
          width: 100%;

          & > .top {
            display: flex;
            justify-content: space-between;

            & > .left {
              display: flex;
              color: rgb(250, 250, 250);
              font-size: 28px;
              font-weight: 500;
              align-items: flex-end;
              user-select: text;

              .discriminator {
                font-size: 20px;
                opacity: 0.5;
              }
            }

            & > .right {
              cursor: pointer;

              svg {
                width: 16px;
                height: 16px;
              }
            }
          }

          & > .bottom {
            color: #efefef;
            opacity: 0.75;
            font-size: 10px;
            margin-top: 2px;
            user-select: text;
          }
        }
      }
    }

    .header {
      font-size: 22px;
      font-weight: 600;
      color: #efefef;
    }
  }

}
